@tailwind base;
@tailwind components;
@tailwind utilities;

.shi {
  --tw-shadow: inset 0 2px 8px 3px rgba(0, 0, 0, 0.5); /* Adjust the values for increased definition /
  --tw-shadow-colored: inset 0 2px 8px 3px var(--tw-shadow-color); / Adjusted definition */
  box-shadow: var(--tw-ring-offset-shadow, 0 0 #0000),
    var(--tw-ring-shadow, 0 0 #0000), var(--tw-shadow);
}

.sho {
  --tw-shadow: 0 20px 40px -10px rgba(0, 0, 0, 0.5); /* Adjusted values for a more extreme shadow */
  --tw-shadow-colored: 0 20px 40px -10px var(--tw-shadow-color);
  box-shadow: var(--tw-ring-offset-shadow, 0 0 #0000),
    var(--tw-ring-shadow, 0 0 #0000), var(--tw-shadow);
}
